<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header">

<body>
    <nav th:replace="layouts :: navbar"></nav>
    <br>
    <div class="container">
        <form id="documentForm" th:object="${document}">
            <div class="form-group-row">
                <!--            <input type="hidden" th:field="${document.id}"> &lt;!&ndash;to bind the document that is going to be updated(when clicked on update). &ndash;&gt;-->
                <input type="hidden" th:field="*{id}" th:if="${document.id != null and document.id != ''}" name="id">
                <input type="text" placeholder="Title" th:field="*{title}" name="title" required>
            </div>
            <div class="form-group row">
                <input type="text" placeholder="Content" th:field="*{content}" name="content" required>
            </div>
            <div class="form-group row">
                <button class="btn btn-info col-2" type="submit"
                    th:text="${document.id != null and document.id != ''} ? 'Update Document' : 'Create Document'">
                    Create Document</button>
            </div>
        </form>
    </div>
    <div th:replace="layouts :: footer"></div>

    <!-- Include document form handler -->
    <script th:src="@{/js/documentForm.js}"></script>

</body>

</html>