<!DOCTYPE html>

<html lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="layouts :: header">

<body>

<nav th:replace="layouts :: navbar"></nav>

<div>
    <h4>Projects:</h4><br>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/projects/new}" class="btn btn-primary">New Project</a>
    <table class="table table-bordered table-stripped">
        <thead class="thead-dark">
            <th>Project Name</th>
            <th>Project Stage</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr th:each="p : ${projectsList}">
                <td th:text="${p.name}" />
                <td th:text="${p.stage}" />
                <td>
                    <a th:href="@{/projects/update(id=${p.projectId})}" class="btn btn-info btn-sm">Update</a>
                    <a th:href="@{/projects/delete(id=${p.projectId})}"
                       class="btn btn-danger btn-sm" onclick="if(!(confirm('Sure you wanna delete ?'))) return false">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div th:replace="layouts :: footer"></div>

</body>

</html>